* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f4f4fc;
}

header {
    width: 100%;
    height: 70px;

}

.logo {
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main {
    position: absolute;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}

.contenedorcajatexto {
    position: relative;
    padding-left: 100px;
    margin: 0 auto;
    width: 75%;
    height: 80%;

}

.cajatexto {
    width: 100%;
    height: 50%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.cajatexto::placeholder {
    color: #0A3871;
}

.alerta {
    position: absolute;
    top: 92vh;
    left: 23vh;
    display: flex;
    color: #495057;

}

.mensaje-usuario {
    margin-left: 15px;
}

.contenedor-botones {
    position: absolute;
    top: 95vh;
    height: 20vh;
    padding-left: 8%;
    padding-top: 15px;
    margin-bottom: 15px;

}

.btn-encriptar {
    width: 50vh;
    height: 9vh;
    padding: 23px 0;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    transition: 1s all;
}

.btn-encriptar:hover {
    background-color: #0e63c9;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(1.1);
}

.btn-desencriptar {
    width: 50vh;
    height: 9vh;
    padding: 23px 0;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    transition: 1s all;

}

.btn-desencriptar:hover {
    background-color: #8a8d93;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(1.1);
}


.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente */
    height: 115vh;
    /* Opcional: hace que el contenedor ocupe toda la altura de la ventana */
    width: 100%;
    background-color: #f4f4fc;

}


.seccion2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 110vh;
    margin-right: 35px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);

}

.conenidomunieco {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100vh;
}

.prueba {
    width: 300px;
    margin-top: 20px;
    margin-left: 80px;



}

.prueba:hover {
    transform: scale(1.1);
}

.contenedor-parrafo h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
    margin-top: 15px;
}

.contenedor-parrafo p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.cotenedor-resultado {
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 12px;
    box-sizing: border-box;
    margin-left: 25px;
}

.contenedor-resultado p {
    color: #495057;
    font-size: 25px;
    margin: 20px 0 0 20px;
}

.contenedor-copiar {
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 650px;
    background-color: aqua;
    padding-left: 40px;
}

.btn-copiar {
    width: 50vh;
    height: 9vh;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    /*top: 50px;*/
    left:15px;
    right: 4px;
    margin-top: 15px;
    text-transform: uppercase;
    /*mayucula*/
    transition: 1s all;
    overflow: hidden;
    /* Recorta cualquier contenido que se desborde */
}


/*seudoelemto*/
.btn-copiar::after {
    content: "";
    position: absolute;
    /*se posiciona absolutamente en el centro del boton*/
    background-color: rgba(16, 179, 233, 0.6);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, opacity 0.5s;
    pointer-events: none;
    z-index: -1;

}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 179, 233, 0.6);
    animation: ripple-animation 0.5s linear;
    /*efecto de onda*/
}


@keyframes ripple-animation {
    to {
        transform: scale(10);
        opacity: 0;
    }
}

.ocultar {
    display: none;
}


/*MEDIAS QUERIES PARA TABLES*/
@media (max-width: 768px) {


    main {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        margin-bottom: 45px;
    }

    .contenedorcajatexto {
        width: 90%;
        padding-left: 20px;
        margin-top: 5px;
        height: auto;
        margin-bottom: 150px;
        margin-left: 15px;

    }

    .cajatexto {
        height: 200px;
    }

    .alerta {
        position: static;
        display: flex;
        margin-bottom: -300px;
        margin-right: 320px;

    }



    .contenedor-botones {
        display: flex;
        position: static;
        justify-content: space-between;
        /* Alinear los botones uno al lado del otro */
        align-items: center;
        /* Centrar verticalmente los botones */
        flex-wrap: wrap;
        /* Permitir que los botones se envuelvan si no caben en una sola línea */
        margin-top: 20px;
        margin-left: -80px;


    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 300px;
        margin-top: 45%;
    }


    .seccion1,
    .seccion2 {
        width: 90%;

        height: 350px;
    }

    #seccion2 {
        width: 85%;
        margin-top: 130px;
    }



    .prueba {
        display: none;
    }



    .btn-copiar {
        width: 590px;
        margin-top: 30px;
        margin-right: 45px;
        right: 10px;
    }
}


/*MEDIAS QUERIES PARA CELULAR*/
@media (max-width: 376px) {
    header {
        width: 60px;
        /* Ajusta el tamaño del logo para pantallas pequeñas */
        padding-left: 0px;
        /* Ajusta el espacio izquierdo del logo para pantallas pequeñas */
        height: 150px;

    }



    .logo {
        width: 100px;
        height: 40px;
        padding-top: 20px;
        padding-left: 0px;
    }



    .cajatexto {
        font-size: 20px;
        /* Ajusta el tamaño de fuente de la caja de texto para pantallas pequeñas */
        margin-top: 290px;

    }



    .alerta {
        width: 320px;
        margin-bottom: 250px;
        margin-left: 280px;

    }

    .contenedor-botones {
        display: flex;
        position: absolute;
        top: 360px;
        left: 45px;

    }


    .btn-encriptar,
    .btn-desencriptar {
        margin: 0 auto;
        width: 330px;
        margin-bottom: 15px;

    }



    .seccion1,
    .seccion2 {
        width: 100%;
        position: relative;
        margin-bottom: 15px;
    }


    #seccion2 {
        top: 160px;
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;


    }

    .contenedor-resultado {
        height: 380px;

    }

    .contenedor-copiar {

        position: absolute;
        top: 0px;
    }

    .btn-copiar {
        width: 300px;
        margin: 0 auto;
        margin-top: 215px;


    }

}
